body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #6b7177;
    font-weight: 400;
}
p{
    margin: 0 !important;
}
.main{
    margin: 50px;
}
.search{
    margin: auto;
    max-width: 500px;
}

h1{
    background-color: #000639;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.results{
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}
.hidden{
    display: none;
}
.movies-result-container, .nominated-movie {
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 450px;
    height: 100%;
    display: block;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    border-radius: 17px;
}

.grey-border{
    border: 2px solid #6b7177;
}

.results-search, .results-nominations{
    text-align: left;
}

.result-movie{
    padding-top: 30px;
    display: grid;
    grid-template-areas:
    'poster title btn'
    'poster year btn';
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
}
.result-movie-grid-img { 
    grid-area: poster; 
}
.result-movie-grid-title { 
    grid-area: title; 
    justify-self: start;
    align-self: end;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}
.result-movie-grid-year { 
    grid-area: year; 
    justify-self: start;
    align-self: start;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}
.result-movie-grid-btn { 
    grid-area: btn; 
    justify-self: center;
}

.results-heading, .nominations-heading{
    font-size: 2em;
    font-family: monospace;
}

.nominate-btn, .remove-btn{
    max-width: 100px;
    max-height: 30px;
    align-self: center;
}

#nominationLimitAlert{
    margin: 30px;
}
#iomdb-error{
    margin: 20px;
}

.fade-line{ 
    margin: 5px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));


/* mobile */
@media only screen and (max-width: 786px) {
    .results{
        flex-direction: column;
        align-items: center;
    }
}